Package: libactivator
Depends: mobilesubstrate, preferenceloader (>= 1.2)
Name: LibActivator
Version: 1.1.0
Priority: optional
Architecture: iphoneos-arm
Description: A common library for activating apps via gestures, buttons and shortcuts
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=libactivatorData
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=libactivatorData
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: Ryan Petrich <rpetrich@gmail.com>
Sponsor: thebigboss.org <http://thebigboss.org>
Conflicts: com.booleanmagic.overboard (<= 1.0), com.sinfuliphone.overboard (<= 1.0)
Replaces: com.booleanmagic.overboard (<= 1.0), com.sinfuliphone.overboard (<= 1.0)
Section: System
Installed-Size: 100
dev: rpetrich
Tag: role::hacker
