Package: libactivator
Priority: optional
Section: System
Architecture: iphoneos-arm
Version: 0.9.3
Description: A common library for activating apps via gestures, buttons and shortcuts
Name: LibActivator
Depends: mobilesubstrate
Author: Ryan Petrich <rpetrich@gmail.com>
