Package: libactivator
Depends: mobilesubstrate, preferenceloader (>= 1.2)
Name: Activator
Version: 1.3~b6
Priority: optional
Architecture: iphoneos-arm
Description: A common library for activating apps via gestures, buttons and shortcuts
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=libactivatorData
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=libactivatorData
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: Ryan Petrich <rpetrich@gmail.com>
Sponsor: thebigboss.org <http://thebigboss.org>
Conflicts: com.booleanmagic.overboard (<= 1.1), com.sinfuliphone.overboard (<= 1.1), com.ashman.lockinfo (<= 2.0.0-6), com.beyoip.lockinfo (<= 2.0.0-6), com.sinfuliphone.lockinfo (<= 2.0.0-6)
Replaces: com.booleanmagic.overboard (<= 1.1), com.sinfuliphone.overboard (<= 1.1), com.ashman.lockinfo (<= 2.0.0-6), com.beyoip.lockinfo (<= 2.0.0-6), com.sinfuliphone.lockinfo (<= 2.0.0-6)
Section: System
dev: rpetrich
