Package: libactivator
Depends: mobilesubstrate (>= 0.9.3228), preferenceloader (>= 2.0.2), firmware (>= 3.0)
Name: Activator
Version: 1.5.4
Priority: optional
Architecture: iphoneos-arm
Description: Centralized gestures, button and shortcut management for iOS
Homepage: http://rpetri.ch/cydia/activator/
Depiction: http://rpetri.ch/cydia/activator/
Maintainer: Ryan Petrich <rpetrich+activator@gmail.com>
Author: Ryan Petrich <rpetrich+activator@gmail.com>
Sponsor: thebigboss.org <http://thebigboss.org>
Conflicts: com.booleanmagic.overboard (<= 1.1), com.ashman.lockinfo (<= 2.0.0-6), sbsettings (<= 3.0.6)
Replaces: com.booleanmagic.overboard (<= 1.1), com.ashman.lockinfo (<= 2.0.0-6)
Section: System
dev: rpetrich
