{
	CFBundleExecutable = Activator;
	CFBundleIconFile = "Icon.png";
	CFBundleIconFiles = (
		"icon.png",
		"icon-72.png",
		"icon-72@2x.png",
		"icon@2x.png",
		"Icon-Small.png",
		"Icon-Small@2x.png",
	);
	CFBundleIdentifier = "libactivator";
	"CFBundleInfoDictionaryVersion" = "6.0";
	CFBundlePackageType = APPL;
	CFBundleSignature = "????";
	"CFBundleSupportedPlatforms" = (
		iPhoneOS,
	);
	CFBundleVersion = "1.0";
	DTPlatformName = iphoneos;
	DTSDKName = "iphoneos3.0";
	LSRequiresIPhoneOS = YES;
	MinimumOSVersion = "3.0";
	UIStatusBarStyle = UIStatusBarStyleDefault;
	UIDeviceFamily = (
		1,
		2
	);
	"UISupportedInterfaceOrientations~ipad" = (
		UIInterfaceOrientationPortrait,
		UIInterfaceOrientationPortraitUpsideDown,
		UIInterfaceOrientationLandscapeLeft,
		UIInterfaceOrientationLandscapeRight
	);
}